@model IEnumerable<RateMyAmenity.Models.Amenity>

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    <p>
        Find Amenity: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
	</p>
}


<<<<<<< HEAD
<table>
    <tr>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder=ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder=ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    <div id="amenityNav"> 
    <ul>
        @if (Model != null)
        {
        foreach (var group in Model.GroupBy(item => item.Description))
        { 

            <li><a href="#">@Html.Encode(group.Key)</a> 
            
            <ul>
            @foreach (var item in group)
            { 
                <li>  @Html.ActionLink(item.Name, "Details", new { id = item.AmenityID })
                </li>  
            } 
            </ul>
            
            </li>
        }
=======

   

        @if (Model != null)
		{
			
			foreach (var group in Model.GroupBy(item => item.Description))
			
			{ 
				<!--DROP LIST-->
				<div class="dropList_header">
					@Html.Encode(group.Key) 
				</div>
			
			<div class="dropList_content">
					<div>				
			@foreach (var item in group)
			{
				
						<p> 
							@Html.ActionLink(item.Name, "Details", new { id = item.AmenityID })
						</p>
				       
			}
			</div>
				</div>

		}
>>>>>>> da9d7126f6476305b3ff206c4be1baef7b3fb321
        } 
    
  



