@model IEnumerable<RateMyAmenity.Models.Amenity>

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    <p>
        Find Amenity: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}


<table>
    <tr>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder=ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder=ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    <div id="amenityNav"> 
    <ul>
        @if (Model != null)
        {
        foreach (var group in Model.GroupBy(item => item.Description))
        { 

            <li><a href="#">@Html.Encode(group.Key)</a> 
            
            <ul>
            @foreach (var item in group)
            { 
                <li>  @Html.ActionLink(item.Name, "Details", new { id = item.AmenityID })
                </li>  
            } 
            </ul>
            
            </li>
        }
        } 
    </ul>
    </div>

</table>

