@model RateMyAmenity.Models.Amenity
@using System.Globalization;


<div id="theMap">
<script type="text/javascript">

    $(document).ready(function () {
        var interval = setInterval(function () {
            if ((eval("typeof VEMap") != "undefined") && (document.getElementById("theMap").attachEvent != undefined)) {
                clearInterval(interval);
                onMapLoaded();
            }
        }, 10);
    });

        function onMapLoaded() {
         $("#Address").blur(function (evt) {
                //If it's time to look for an address, 
                // clear out the Lat and Long
                $("#Latitude").val("0");
                $("#Longitude").val("0");
                var address1 = jQuery.trim($("#Address1").val());
                if (address1.length < 1)
                    return;
                RateMyAmenity.FindAddressOnMap(address);
            });
           
        var latitude = @Convert.ToString(Model.Latitude, CultureInfo.InvariantCulture);
        var longitude = @Convert.ToString(Model.Longitude, CultureInfo.InvariantCulture);
                
        if ((latitude == 0) || (longitude == 0))
            RateMyAmenity.LoadMap();
        else
            RateMyAmenity.LoadMap(latitude, longitude, mapLoaded);
    }

     
    function mapLoaded() {
        var name = "Name :" +"@Model.Name" + "Phone No:" + "@Model.Phone";
        var description = "Description :" + "@Model.Description"; 
		var phone = "Phone No:" + "@Model.Phone";
    
        RateMyAmenity.LoadPin(RateMyAmenity._map.GetCenter(), name, description, phone, false);
        RateMyAmenity._map.SetZoomLevel(14);

    } 
//]]>
</script>
</div>

