@model RateMyAmenity.Models.Amenity


<fieldset>
    <legend>Amenity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Long)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Long)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultImage)
    </div> 
</fieldset> 

