@model RateMyAmenity.Models.Amenity  
@using System.Globalization;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="floatLeft">
<fieldset>
    <legend>Amenity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultImage)
    </div>

    @* Displays the Ratings / User for each Amenity *@
    <div class="display-label">
        @Html.LabelFor(model => model.Ratings)
    </div>
    <div class="display-field">
    <table>
        <tr>
            <th>User Name</th>
            <th>Rating Value</th>
            <th>Comment</th>
        </tr>
        @foreach (var item in Model.Ratings)
        {
            <tr>
                <td>
                   
                    @Html.DisplayName(User.Identity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }
    </table>
    <p>
         @Html.ActionLink("Add a Rating", "Create", new { controller = "Rating", action = "Create", id = Model.AmenityID }) 
    </p>
    </div>
</fieldset>

</div>


<p>
    @*Html.ActionLink("Edit", "Edit", new { id=Model.AmenityID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


        
<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2" type="text/javascript"></script>
<script src="/Scripts/RateMyAmenity.js" type="text/javascript"></script>

<div id="theMap">

 <div>  @Html.Partial("_Map")</div>

</div>  
