@* @model RateMyAmenity.Models.Rating *@

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.Partial("_RatingForm")

@*
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rating</legend>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.RatingValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatingValue)
            @Html.ValidationMessageFor(model => model.RatingValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
*@